body
{
  font-family: calibri;
  background: url('images/bk.png') repeat-x #E7E7E9;
  font-size: 12pt;
	padding: 0;
	margin: 0;
}

h1, h2
{
  font-family: perpetua, serif;
  text-transform: uppercase;
  font-weight: normal;
	margin-bottom: 0.1em;
}

#content h1, #content h2
{
  border-bottom: 1px solid #770D28;
}

a
{
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a img
{
  border: 0;
}

td
{
  font-size: 10.2pt;
}

#container
{
  max-width: 890px;
	width:100%;
  margin: 10px auto;
  background-color: #fff;
}

#logo
{
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

#header
{
	padding: 10px;
}

#header h1
{
  display: inline;
}

.error
{
  background: #770D28;
  color: #fff;
  font-family: corbel;
	width: 100%;
	font-size: 1.4em;
}

.error div
{
	margin: 10px;
}

#indexBar a
{
	color: white;
}

#sortLinks
{
  text-align: right;
}

a.activeSort
{
  font-weight: bold;
}

#indexLinks a
{
	text-decoration: none;
  margin-right: 0.5em;
  font-size: 12pt;
}

#content
{
	margin: 10px;
	padding: 10px 0;
}

#content table
{
  width: 100%;
  border-collapse: collapse;
	margin-top: 5px;
	font-size: 11pt;
}

#content table td
{
	padding: 0.5em;
  font-size: 1em;
}

#content table th
{
  font-family: corbel, sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  text-align: left;
  padding-left: 0.25em;
}

#content table th.statusHeader
{
	width: 120px;
}

#content table thead th
{
  border-bottom: 1px solid #770D28;
}

#content table tr.even
{
	background: #ddd;
}

#log tr.clear td
{
	text-decoration: line-through;
}

#status tr.fault
{
	background: #FCCFCF;
}

#content table tr.online
{
	background: #DEFAE8;
}

#status td.assignment
{
	text-align: right;
}

#status td img
{
	vertical-align: text-top;
}

#error
{
	background: #FCCFCF;
	border: 1px solid #770D28;
	padding: 0.5em;
}

#assigned
{
	background: #D0D0F2;
	border: 1px solid blue;
	padding: 0.5em;
}

#footer
{
  font-size: 0.8em;
  color: #939598;
  text-align: center;
  margin-top: 2em;
}
